ul {
    display: flex;
    padding: 0;
    border: 2px solid #333;
}

.dropdown ul {
    flex-direction: column;
    background-color: #333;
    color: white;
    text-align: center;
}

ul li {
    list-style-type: none;
    width: 25%;
    height: 30px;
    text-align: center;
    border: 2px solid #333;
}

.dropdown ul li {
    width: 100%;
}

.condensed {
    display: none;
}